@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,700&family=Pathway+Extreme:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --primary-website-color: #f46e92;
    --secondry-website-color: #db2c5b;
    --third-website-color: rgb(219, 44, 91);
    --primary-accent-color: #C55854;
    --primary-text-color: #00011A;
    --secondry-text-color: #92989F;
    --vibrant-pink: #FF69B4;
    --bold-orange:  #FFA500;
    --dark-grey: #444444;
    --light-grey:#999999;

}

/* Utility classes------------------------ */
body {

    /* font-family: 'DM Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Pathway Extreme', sans-serif; */
    /* background-image: url(./assest/background1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.desktop-width {
    max-width: 1120px;
    margin: auto;
}

/* navbar----------------------------------- */
header {
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;

}

nav a,
header a {
    text-decoration: none;
}

header a{
    color : var(--secondry-website-color);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Pathway Extreme', sans-serif;
}

nav a{
    font-size: 16px;
    font-weight: 700;
    color: #444444;
}

nav a:hover{
    color: var(--secondry-website-color);
}

#home-btn{
    color: var(--secondry-website-color);
}

.logo-container {
    gap: 10px;
}

.logo {
    height: 48px;
    width: 48px;
    background-color: var(--primary-accent-color);
}

nav ul {
    gap: 40px;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-self: center;
}

.contactus-btn-box{
    list-style: none;
}

.contactus-btn{
    /* border: 1px solid transparent;
    padding-block: 8px;
    padding-inline: 24px;
    background-color: var(--secondry-website-color);
    color: white;
    font-weight: 800;
    border-radius: 25px; */

    font-weight: 800;
    text-decoration: none;
    background-color: rgba(222, 20, 74, 0.856);
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #ffffff;
    cursor: pointer;
    /* font-size: 20px; */
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.contactus-btn:hover {
    /* background-color: var(--vibrant-pink); */

    background-color: rgba(222, 20, 74, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    color: #ffffff;
    transform: translateY(-5px);
}

/* Home----------------------------------------------------- */

.home-sec-content-box {
    max-width: 50%;
    height: 91vh;
    /* background-color: #C55854; */
}

.home-sec-content-box h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-text-color);
    /* padding-top: 64px; */
}

.home-sec-content-box h2 {
    font-size: 26px;
    font-weight: 200;
    color: var(--secondry-text-color);
    margin-top: 16px;
    margin-bottom: 24px;
    /* padding-top: 64px; */
}

.contactus-btn2{
    font-weight: 800;
    text-decoration: none;
    background-color: rgba(222, 20, 74, 0.856);
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #ffffff;
    cursor: pointer;
    /* font-size: 20px; */
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    display:inline-block;
}

.contactus-btn2:hover{
    background-color: rgba(222, 20, 74, 0.856);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    color: #ffffff;
    transform: translateY(-5px);
}

.home-sec-illustraion-box {
    max-width: 50%;
    background-color: #db2c5b;
    height: 91vh;
}

/* Service-------------------------------------- */
.service-section{
    padding-block: 200px;
}

.service-section-heading{
    margin-top: 48px;
    margin-bottom: 80px;
}

.service-section-heading h3{
    font-family: 'Pathway Extreme', sans-serif;
}

.service-section-heading h2{
    font-family: 'DM Sans', sans-serif;
    
}

.service-section-cards{
    gap: 50px;
}

.service-box{
    width: 300px;
    text-align: center;
    /* background-color: #C55854; */
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    /* width: 300px; */
    /* height: 200px; */
    transition: 0.2s;
}

.service-box:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.1);
}

.service-box-heading{
    height: 48px;
}


.service-box p{
    padding-block: 16px;
    font-family: 'DM Sans', sans-serif;


}

.service-img{
    height: 300px;
}

.about-us-section {
    background-color: #101057;
    padding-top: 20px;
}

.about-us-section h1 {
    font-weight: 600;
    font-size: 35px;
    color: #ffffff;
}

.about-us-section p {
    color: #ffffff;
    font-size: 18x;
    text-align: center;
}

.about-img {
    justify-content: space-between;
    margin: 50px 70px 0 70px;
}

.about-img img {
    width: 200px;
    height: 200px;
    border: 8px solid #312D8C;
    border-radius: 50%;
}

.big-circle {
    width: 250px;
    height: 250px;
    border: 10px;
    background-color: #312D8C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mid-circle {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: #5F4A88;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1 h4{
    text-align: center;
    color: #ffffff;
    margin-top: 10px;

}