@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,700&family=Pathway+Extreme:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* overflow: ; */
}

/* Variables */

:root {
    --primary-website-color: #f46e92;
    --secondry-website-color: #db2c5b;
    --third-website-color: rgb(219, 44, 91);
    --primary-accent-color: #C55854;
    --primary-text-color: #00011A;
    --secondry-text-color: #92989F;
    --vibrant-pink: #FF69B4;
    --bold-orange: #FFA500;
    --dark-grey: #444444;
    --light-grey: #999999;

}

/* Utility classes------------------------ */
html {
    scroll-behavior: smooth;
}

body {

    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Pathway Extreme', sans-serif; */
    /* background-image: url(./assest/bg.png); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: fill;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #cff0f02f; */
    overflow-x: hidden;
}

body p {
    /* color: #555; */
    font-family: 'Noto Sans', sans-serif;
    color: #777;
    font-weight: 450;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.desktop-width {
    /* max-width: 80%; */
    max-width: 1240px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;

}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-website-color);
    border-radius: 15px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondry-website-color);
}


/*splash screen
CSS for the splash screen
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Optional styles for the loading content 
  .splash-screen h1 {
    font-size: 24px;
    color: #333;
  }*/

/* CSS for the splash screen and loading bar animation */
/* CSS for the splash screen and loading bar animation 
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
  }
  
  .loading-bar {
    width: 300px; /* Updated width to 300px 
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .loading-bar::after {
    content: "";
    display: block;
    width: 150%; /* Updated width to 150% to make it 200px wider than the parent .loading-bar 
    height: 100%;
    background-color: #db2c5c; /* Filling the loading bar with the color #db2c5c 
    border-radius: 5px;
    animation: loadingAnimation 2.5s infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  /* Optional styles for the loading content 
  .splash-screen h1 {
    font-size: 24px;
    color: #333;
  }
  */


/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c9c8c8;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b3b2b2;
  } */


/* .reveal{
    position : relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
} */

/* Alert Box */
.swal-modal {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.1);
    transition: all 0.3s ease 0s;
    font-family: 'DM Sans', sans-serif;
}

.swal-button--confirm {
    font-weight: 800;
    text-decoration: none;
    background-color: var(--secondry-website-color);
    border: none;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}

.swal-button:hover {
    color: #000000;

}

/* navbar----------------------------------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid transparent;
    z-index: 2;
    padding-block: 2px;
    background-color: transparent;
    transition: 0.5s ease;
}

.navbar.scrolled {
    background-color: #ffffffb5;
    box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.1);
}

.header-box {
    align-items: center;
    justify-content: space-between;
    padding-block: 3px;
}



nav a {
    text-decoration: none;
}

/* header a {
    color: var(--secondry-website-color);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Pathway Extreme', sans-serif;
} */

nav a {
    font-size: 16px;
    font-weight: 700;
    color: #444444;
}

nav a:hover {
    color: var(--secondry-website-color);
}

.nav-toggle {
    display: none;
}

nav a.active {
    color: var(--secondry-website-color);
}


/* #home-btn {
    color: var(--secondry-website-color);
} */

nav i {
    color: var(--third-website-color);
    /* font-size: 10px; */
}

.logo-container {
    gap: 10px;
    overflow: hidden;
}

.logo img {
    /* height: 64px; */
    width: 66px;
    height: 100%;
    overflow: hidden;
    /* background-color: var(--primary-accent-color); */
}



.logo-container a {
    color: var(--secondry-website-color);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Pathway Extreme', sans-serif;
    text-decoration: none;
}

nav ul {
    gap: 40px;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-self: center;
}

.contactus-btn-box {
    list-style: none;
}

.contactus-btn {
    font-weight: 800;
    text-decoration: none;
    background-color: rgba(222, 20, 74, 0.856);
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #ffffff;
    cursor: pointer;
    /* font-size: 20px; */
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.contactus-btn:hover {
    /* background-color: var(--vibrant-pink); */

    background-color: rgba(222, 20, 74, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    color: #ffffff;
    transform: translateY(-5px);
}

/* Home----------------------------------------------------- */
.home-section {
    /* margin-top: 100px; */
    height: 760px;
    align-items: center;
    justify-content: center;
    padding-top: 80px;

}

.home-sec-content-box {
    max-width: 50%;
    /* background-color: #C55854; */
}

.home-sec-content-box {
    justify-content: center;
}

.home-sec-content-box h1 {
    /* font-size: 48px; */
    font-size: 3.1rem;
    font-weight: 900;
    color: var(--primary-text-color);
    /* padding-top: 64px; */
}

.home-sec-content-box h2 {
    /* font-size: 26px; */
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--secondry-text-color);
    margin-top: 16px;
    margin-bottom: 24px;
    /* padding-top: 64px; */
}

.contactus-btn2 {
    margin-block: 32px;
    font-weight: 800;
    text-decoration: none;
    background-color: rgba(222, 20, 74, 0.856);
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #ffffff;
    cursor: pointer;
    /* font-size: 20px; */
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.contactus-btn2:hover {
    background-color: rgba(222, 20, 74, 0.856);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    color: #ffffff;
    transform: translateY(-5px);
}

.home-sec-illustraion-box {
    max-width: 50%;
    /* background-color: #db2c5b; */
    /* height: 80vh; */
}

.home-sec-illustraion-box img {
    width: 100%;
}

/* Service-------------------------------------- */
.service-section {
    padding-block: 50px;
    /* height: 91vh; */
}

.service-section-heading {
    margin-top: 48px;
    margin-bottom: 60px;
    padding-top: 20px;
    /* padding-block: 20px; */
}

.service-section-heading h3 {
    font-family: 'Pathway Extreme', sans-serif;
    color: var(--primary-website-color);
}

.service-section-heading h2 {
    font-family: 'DM Sans', sans-serif;
    color: var(--third-website-color);
    font-size: 38px;
    font-weight: 700;

}

.service-section-cards {
    gap: 40px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    /* flex-basis: 20%; */
    row-gap: 80px;
}

.service-box-container {
    width: 280px;
    height: 500px;
    text-align: center;
}

.service-box {

    /* background-color: #C55854; */
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    /* width: 280px; */
    /* height: 500px; */
    transition: 0.2s;
}

.service-box:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.1) !important;
}

.service-box-heading {
    height: 48px;
}


.service-box p {
    padding-block: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 450;

}

.service-img {
    height: 170px;
    width: 210px;
}

.service-img img {
    width: 100%;
}

/* about us section------------------------------------- */
#about {
    margin-bottom: 10px;
}

.about-us-section {
    /* background-color: #101057; */
    padding-top: 100px;
    margin-top: 30px;
    padding-bottom: 70px;
}

.about-heading {
    padding-top: 40px;
}

.about-us-section h3 {
    padding-block: 10px;
    font-family: 'DM Sans', sans-serif;
    color: var(--third-website-color);
    font-size: 38px;
    font-weight: 700;
    /* color: #ffffff; */
}

.about-us-section p {
    /* color: #ffffff; */
    font-size: 18x;
    text-align: center;
}

.about-img {
    justify-content: space-evenly;
    margin: 50px 70px 0 70px;
    column-gap: 64px;
}

.img-1 {
    width: 300px;
    max-width: 300px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

/* .about-right-illu{
    overflow: hidden;
} */

.about-img img {
    width: 200px;
    height: 200px;
    border: var(--primary-website-color);
    border-radius: 50%;
}

.big-circle {
    width: 250px;
    height: 250px;
    border: 10px;
    /* background-color: var(--bold-orange); */
    background-color: #a51449;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-icons {
    display: all;
    display: flex;
    flex-direction: column;
    transition:all  0.3s ease-in-out;
    position: absolute;
    font-size: 1px;
    opacity: 0;
    /* top: 50%; */
    /* left: -20px;  */
    /* transform: translateY(-50%) translateX(-50%); */
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}


.social-icon-1 {
    position: absolute;
    transform: translateX(-300%) translateY(-200%);
}

.social-icon-2{
    position: absolute;
    transform: translateX(-350%) translateY(-60%);
}

.social-icon-3{
    position: absolute;
    transform: translateX(-300%) translateY(100%);

}


.big-circle:hover .social-icons {
    opacity: 1;
    font-size: 24px;
}

/* Style for the icon container */
/* .social-icons {
  position: absolute;

}

.social-icon {
  margin: 5px; 
  font-size: 24px; 
  color: #ffffff; 
  
}

.social-icon-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-220%);
}

.social-icon-2 {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.social-icon-3 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */

.mid-circle {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: var(--third-website-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 h4 {
    text-align: center;
    /* color: #ffffff; */
    margin-top: 10px;

}

.co-heading {
    font-size: 20px;
    margin-block: 2px;
    font-weight: 700;
    /* color: var(--third-website-color); */
}

.co {
    color: #999;
}

.co-desc {
    margin-top: 10px;
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */

}


/* Work Section------------------------------- */

/* work-section-top */

.work-section-top {
    /* margin-top: 50px; */
    padding-block: 50px;
    /* margin-bottom: 20px; */
    overflow: hidden;

    /* height: 91vh; */

}

.work-sec-img {
    /* background-color: #312D8C; */
    /* height: 400px; */
    width: 50%;
    padding-block: 80px;
}

.work-sec-img img {
    width: 100%
}

.work-sec-heading {
    width: 50%;
}

.work-sec-heading h3 {
    /* font-size: 64px; */
    font-size: 2.9rem;
    font-weight: 900;
    color: var(--primary-text-color);
    /* padding-block: 10px; */
    font-family: 'DM Sans', sans-serif;
    /* color: var(--third-website-color); */
    /* font-size: 38px; */
    font-weight: 700;
}

.work-sec-heading p {
    /* font-size: 24px; */
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--secondry-text-color);
    margin-block: 16px;
    /* margin-bottom: 24px; */
    /* padding-top: 64px; */
}


/* work-section-bottom */

.work-section-bottom {
    height: auto;
    padding-top: 100px;
    padding-bottom: auto;
}

.work-sec-bottom-heading {
    padding-bottom: 60px;
    margin-bottom: 10px;

}

.work-sec-bottom-heading h3 {
    padding-block: 10px;
    font-family: 'DM Sans', sans-serif;
    color: var(--third-website-color);
    font-size: 38px;
    font-weight: 700;
}

.work-sec-cards {
    flex-wrap: wrap;
    /* column-gap: 6 ; */
    justify-content: space-evenly;
    row-gap: 120px;
    column-gap: 80px;
    padding-block: 70px;

}

.work-card-container {
    width: 350px;
    height: 180px;
    text-align: center;
}


.work-card {
    /* background-color: #C55854; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /* border: 1px solid rgba(154, 149, 149, 0.39); */
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.1);
    padding: 20px;
    height: 100%;
    transition: 0.2s;

}

.work-card:hover {
    /* transform: scale(1.02); */
    transform: translateY(-15px);
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.299);
    background-color: rgba(255, 255, 255, 0.731);

}


.work-card-icon {
    top: -40px;
    position: absolute;
    background-color: white;
    /* border: 1px solid rgb(90, 81, 81); */
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.299);
    border-radius: 10px;
    height: 70px;
    width: 70px;
}


.work-card-icon i {
    font-size: 30px;
    color: var(--third-website-color);
    padding: 20px;

}

.work-card-icon img {
    width: 80px;
    /* color: var(--third-website-color); */
    padding: 10px;

}

.work-card-description {
    padding-block: 30px;
}

.work-card-description h3 {
    padding-bottom: 5px;
}


/* contactus----------------------------- */
.contactus {
    /* padding-top: 90px;  */
    padding-top: 100px;
    /* margin-top: 30px; */
    margin-bottom: 30px;

}


.contactus-box {
    padding-block: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    /* height: 600px; */
}

.contactus-header {
    margin-top: 48px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.contactus-header h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--primary-website-color);
}

.contactus-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: var(--third-website-color);
}



.contactus-info {
    width: 50%;
    max-width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /* border: 1px solid rgba(154, 149, 149, 0.39); */
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.1);
    padding: 48px;
}

.contactus-info h3 {
    font-size: 24px;
    font-weight: 700;
}

.contactus-info p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 5px;
}

.contactus-info li {
    list-style: none;
    padding-block: 5px;
    font-size: 16px;
}

.contactus-info li a {
    padding-block: 12px;
}


.contactus-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-img img {
    width: 90%;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align items (including the button) horizontally in the center */
    text-align: left;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    font-family: 'Noto Sans', sans-serif;
}

.contactus-form input:focus,
.contactus-form textarea:focus {
    outline: 2px solid var(--bold-orange);
}

.contactus-form textarea {
    resize: vertical;
}

.contactus-form button {
    display: block;
    width: 50%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--secondry-website-color);
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactus-form button:hover {
    background-color: #831c37;
}


/* footer ------------------------------------- */

footer {
    padding-block: 48px;
    /* padding-inline: 48px; */
}

.footer-top {
    padding-block: 10px;
    justify-content: space-evenly;
}

.footer-bottom {
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: #50071b;
    /* background-color: #4a0025; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.footer-bottom a {
    text-decoration: none;
    color: white;
}